

.cssComp {
    /* -ctag:
            "app,container",
            "...Example",
            "hello, there \"dog\" here",

    */
    height: 100%;

    .cssComp_columns {
        /* -ctag:
                "app,container",
                "...Example",
                "hello, there \"dog\"
                here"
        */
		position: relative;
		z-index: 200;
        .calc( height , 100% , -90px );
    }

    .cssComp_col2 {
        /* -ctag:
                "app,container",
                "...",
                "Example of an extended class",
                ".cssComp_columns"
        */

        // extend it
        &:extend(
            .cssComp
            .cssComp_columns
        );
    }

}
