



.col_md_1 {
    -ctag-tags: base,layout;
	-ctag-example: ...Label;
	-ctag-description: "Counteracts the effects of 'hand'";

    width: 100%;
    padding: 80px;

    .pog {
		width: 1000000%;
	}
}
.row_md_1 {
    height: 30%;
}

.test {
    -ctag-tags: layout;
	-ctag-example: ...Label;
	-ctag-description: "my own label";
    &:extend( .col_md_1 );

    color: rgba(0,0,0,.2 );
    background-image: url("dd");

    .col_md_1();
    .row_md_1();

    .col_md_1 .pog();
}
