
// @import (reference) "../Shared/shared.less";

.ruleDetail {
    /*<csstag tag="page,modal">
        <div ...>
            { .ruleDetail_header }
            { .ruleCSS }
            { .ruleDetailNav }
        </div>
    </csstag>*/
    width: 100vw; height: 100vh;
    position: absolute;
    top: 0px; left: 0px;
    z-index: 1100;
    overflow: hidden;
    background-color: #fff;
    display: none;

    body.s_tree & {
        display: block;
    }
    body.s_tag & {
        display: block;
    }
}

.ruleDetail_content {
    /*<csstag tag="content">
        <div ...></div>
    </csstag>*/
    // width: @phi;
    .calc( width , 100% , -300px );
    .calc( height , 100% , -70px );
    position: absolute;
    top: 70px; right: 0px;
    background-color: #fff;
}

.ruleDetail_header {
    /*<csstag tag="header">
        <div ...>
            { .ruleDetail_back }
            { .ruleDetail_title }
            { .ruleDetail_headerNav }
        </div>
    </csstag>*/
    width: 100%; height: 70px;
    border-bottom: 1px solid #eee;



    .ruleDetail_title {
        /*<csstag tag="container">
            <div ...>
                { .ruleDetail_titleText }
                { .ruleDetail_iconBox }
            </div>
        </csstag>*/
        width: 300px;
        height: 100%;
        position: relative;
        float: left;
        transition: width .3s;

        @media ( max-width: @screen-lg-min ) {
            width: 120px;
        }

        .ruleDetail_close {
            /*<csstag tag="button">
                <div ...></div>
            </csstag>*/
            width: 70px; height: 100%;
            float: left;
            background-image: url('_assets/close_arrow.png');
            .hand();
            transition: width .3s;

            &:hover {
                background-color: #eee;
                background-image: url('_assets/close_arrow_dark.png');
            }

            @media ( max-width: @screen-lg-min ) {
                width: 60px;
            }
        }

        .ruleDetail_showTree {
            /*<csstag tag="button">
                <div ...></div>
            </csstag>*/
            width: 70px; height: 100%;
            float: right;
            background-image: url('_assets/show_tree.png');
            .hand();
            display: none;
            transition: width .3s;

            &:hover {
                background-color: #eee;
                background-image: url('_assets/show_tree_dark.png');
            }

            body.s_detailTab & {
                display: block;
            }

            @media ( max-width: @screen-lg-min ) {
                width: 60px;
            }
        }

        .ruleDetail_titleText {
            /*<csstag tag="title">
                <div ...>
                    A Title
                </div>
            </csstag>*/
            float: left;
            padding: 16px 0px;
            padding-left: 0px;
            height: 100%;
            font-size: 14px;
            color: #555;
            .hand();

            &:hover {
                background-color: #eee;
            }
        }

        .ruleDetail_iconBox {
            /*<csstag tag="container,nav_item">
                <div ...>
                    <div class='rule_icon'></div>
                </div>
            </csstag>*/
            width: 50px; height: 100%;
            position: relative; float: left;
        }
    }

    .ruleDetail_headerNav {
        /*<csstag tag="nav">
            <div ...>
                { .ruleDetail_item_css }
                { .ruleDetail_item_overview }
                { .ruleDetail_item_example }
                { .ruleDetail_back }
            </div>
        </csstag>*/
        float: right; clear: right;
        width: 410px; height: 100%;
        background-color: #fff;
        position: relative;
        display: none;

        body.s_detailTab & {
            display: block;
        }

        @item_color: #ccc;
        @item_selected: #000;
        .ruleDetail_item {
            /*<csstag tag="nav_item">
                <div ...>
                    link_title
                </div>
            </csstag>*/
            color: @item_color; height: 100%;
            padding-top: 24px;
            .calc( width , 33.3333% , -70px/3 );
            float: right; text-align: center;
            .hand();

            &:hover {
                color: @item_selected;
                border-bottom: 3px solid #ccc;
            }
        }
        .ruleDetail_item_overview {
            /*<csstag tag="nav_item">
                <div ...>
                    overview
                </div>
            </csstag>*/
            &:extend(
                .ruleDetail_header
                .ruleDetail_headerNav
                .ruleDetail_item all
            );
            body.s_detailTab_overview & {
                color: @item_selected;
                border-bottom: 3px solid #555;
            }
        }
        .ruleDetail_item_css {
            /*<csstag tag="nav_item">
                <div ...>
                    overview
                </div>
            </csstag>*/
            &:extend(
                .ruleDetail_header
                .ruleDetail_headerNav
                .ruleDetail_item all
            );

            body.s_detailTab_code & {
                color: @item_selected;
                border-bottom: 3px solid #555;
            }
        }
        .ruleDetail_item_example {
            /*<csstag tag="nav_item">
                <div ...>
                    example
                </div>
            </csstag>*/
            &:extend(
                .ruleDetail_header
                .ruleDetail_headerNav
                .ruleDetail_item all
            );
            body.s_detailTab_example & {
                color: @item_selected;
                border-bottom: 3px solid #555;
            }
        }

        .ruleDetail_back {
            /*<csstag tag="button">
                <div ...></div>
            </csstag>*/
            width: 70px; height: 100%;
            background-image: url("_assets/close.png");
            background-color: #fff;
            .hand();
            margin-right: 0px;
            float: right;
            transition: all .2s;

            &:hover {
                background-color: #eee;
            }
        }
    }
}
