
// @import (reference) "../../Shared/shared.less";
// @import (reference) "../../Shared/Column/Column.less";

.dog {
    -ctag-tag: example;
    -ctag-example: "...";

    width: 10px;
    .tail {
        color: pink;
        > .fur {
            height: 10px;
            .hair {
                color: purple;
                > .flea {
                    text-decoration-style: dashed;
                    .flea_eye {
                        height: 1000px;
                        .poop {
                            color: #f00;
                        }
                    }
                }
            }
        }
    }
}
.cat {
    -ctag-tag: example;
    -ctag-example: "...{ .spit }";

    &:extend(
        .dog all
    );
    width: 11px;

    /*.fur {
        color: pink;
    }*/

    .spit {
        /*<csstag tag="example">
            <div ...>THERE</div>
        </csstag>*/
        color: yellow;
    }
}

.sloth {
    /*<csstag tag="example">
        <div ...>
            { .sloth .spit }
        </div>
    </csstag>*/

    > .spit {
        /*<csstag tag="example">
            <div ...>HI</div>
        </csstag>*/
        color: brown;
    }
}
