
// @import (reference) "../../Shared/shared.less";
// @import (reference) "../RuleDetail.less";

.ruleCSS {
    /*<csstag tag="page">
        <div ... style="display: block;">
            { .ruleDetail_code }
        </div>
    </csstag>*/
    &:extend(
        .ruleDetail_content
    );
    z-index: 100;

    /*@media ( max-width: @screen-lg-min ) {
        .calc( width , 100% , 100px );
    }*/

    .ruleDetail_textarea {
        /*<csstag tag="content">
            <textarea ...>
                <hi>there</hi>
            </textarea>
        </csstag>*/
        width: 100%;
        height: 300px;
        background-color: #000;
        color: #eee;
        padding: 20px;
        font-family: 'Muli', sans-serif;
    	font-weight: extralight;
        border: 0px;
        resize: none;
    }

    .ruleDetail_code {
        /*<csstag tag="content">
            <div ...>
                { .ruleDetail_title }
                { .ruleDetail_pre }
            </div>
        </csstag>*/
        width: 100%;
        height: 100%;
        background-color: #fff;
        overflow: auto;
        padding: 30px 30px;

        .ruleDetail_title {
            /*<csstag tag="code">
                <div ...>
                    Pseudo Selectors
                    { .ruleDetail_titleButton }
                </div>
            </csstag>*/
            width: 100%;
            border-bottom: 1px solid #eee;
            font-size: 18px;
            color: #333;
            padding-top: 20px;
            clear: both;
            position: relative;

            .ruleDetail_titleButton {
                /*<csstag tag="button">
                    <div ...>React</div>
                </csstag>*/
                position: absolute;
                right: 10px;
                bottom: 0px;
                .hand();
            }
        }

        .ruleDetail_pre {
            /*<csstag tag="code">
<pre ...>
a [
    color: #f00;
]
</pre>
            </csstag>*/
            width: 100%;
            font-family: "Muli", sans-serif;
            float: left;
            white-space: pre-wrap;       /* CSS 3 */
            white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
            white-space: -pre-wrap;      /* Opera 4-6 */
            white-space: -o-pre-wrap;    /* Opera 7 */
            word-wrap: break-word;       /* Internet Explorer 5.5+ */
        }
    }
}
