
// @import (reference) "../../Shared/shared.less";
// @import (reference) "../RuleDetail.less";

.rulePreview {
    /*<csstag tags="page,rulePreview">
        <div ...>
            { .rulePreview_stage }
            { .rulePreview_nav }
        </div>
    </csstag>*/
    &:extend(
        .ruleDetail_content
    );
    z-index: 300;

    /*@media ( max-width: @screen-lg-min ) {
        .calc( width , 100% , -120px );
    }*/

    .rulePreview_stage {
        /*<csstag tags="page,rulePreview">
            <div ...>
                { .rulePreview_iframe }
            </div>
        </csstag>*/
        width: 100%;
        .calc( height , 100% , -40px );
        background-color: #fff;
        position: absolute;
        left: 0px; top: 0px;

        .rulePreview_iframe {
            /*<csstag tags="page,rulePreview">
                <iframe style="border:none;" ...></iframe>
            </csstag>*/
            width: 100%; height: 100%;
            background-color: #eee;
        }
    }

    .rulePreview_nav {
        /*<csstag tag="navigation">
            <div ...>
                { .rulePreview_toggleBGColor }
                { .rulePreview_outline }
                { .rulePreview_visibility }
            </div>
        </csstag>*/
        position: absolute;
        width: 100%; height: 40px;
        background-color: #fff;
        border-top: 1px solid #eee;
        left: 0px; bottom: 0px;
        z-index: 1000;

        /*@media ( max-width: @screen-lg-min ) {
            width: 119px; left: -120px;
        }*/

        .rulePreview_navLabel {
            /*<csstag tag="label">
                <div ...>states</div>
            </csstag>*/
            height: 40px;
            float: left;
            text-align: center;
            font-size: 12px;
            padding: 10px 10px;
        }

        .rulePreview_navItem {
            /*<csstag tag="button">
                <div ...></div>
            </csstag>*/
            width: 40px; height: 40px;
            margin-right: 0px;
            margin-top: 0px;
            .hand();
            float: right;
            text-align: center;
            font-size: 12px;
            padding-top: 10px;

            &:hover {
                background-color: #eee;
            }
        }

        .rulePreview_state {
            /*<csstag tag="button">
                <div ...>1</div>
            </csstag>*/
            &:extend(
                .rulePreview
                .rulePreview_nav
                .rulePreview_navItem all
            );
            float: left;

            &.selected {
                background-color: #777;
                color: #fff;
            }
        }

        .rulePreview_toggleBGColor {
            /*<csstag tag="button">
                <div ...></div>
            </csstag>*/
            &:extend(
                .rulePreview
                .rulePreview_nav
                .rulePreview_navItem all
            );
            margin-right: 10px;
            background-color: #fff;
            background-image: url("_assets/bg_color_icon.png");
            &:hover {
                background-image: url("_assets/bg_color_icon_dark.png");
            }
        }

        .rulePreview_outline {
            /*<csstag tag="button">
                <div ...></div>
            </csstag>*/
            &:extend(
                .rulePreview
                .rulePreview_nav
                .rulePreview_navItem all
            );
            background-image: url("_assets/outline_icon.png");
            &:hover {
                background-image: url("_assets/outline_icon_dark.png");
            }
        }

        .rulePreview_html {
            /*<csstag tag="button">
                <div ...></div>
            </csstag>*/
            &:extend(
                .rulePreview
                .rulePreview_nav
                .rulePreview_navItem all
            );
            background-color: #fff;
            background-image: url("_assets/html_icon.png");
            &:hover {
                background-image: url("_assets/html_icon_dark.png");
            }
        }
    }

}
